  <!DOCTYPE html>
  <html>
  <head>
    <title>Hi Tec</title>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
  </head>
  <body>

    <div class="container">
      
      <div class="register">
        <h1>Registra un alumno que no está en la lista</h1>
          <form>
            <p>
              <h3>Matrícula</h3>
              <input type="text" name="firstname">
              <h3>Nombre</h3>
              <input type="text" name="lastname">
            </p>
            <input type="submit" value="Registrar" class="register-student">
        </form>
      </div>

      <div class="student-container">
        
        <% if @students.count == 0 %>
          
          <div class="message">
            <h1>¡Todos los estudiantes han sido asignados a un equipo! </h1>
          </div>
          
        <% else %>

          <table class="student-table">
            <tr class="students-header">
              <th>Nombre</th>
              <th>Matricula</th>
              <th>Equipo</th>
            </tr>
            <% @students.each do |student| %>
              <tr class="student-rows">
                <td class="row-element"> <%= student.name %> </td>
                <td class="row-element"> <%= student.student_id %> </td> 
                <td class="row-element"> <%= student.team.teamName %> </td>   
              </tr>
            <% end %>
          </table>

        <% end %>

      </div>

    </div>

  </body>
  </html>