.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 600px;
  width: 100%;
}

body {

}

.logo {
  text-align: center;
}

.logo img {
  height: 250px;
  width: 250px;
}

.student-table {
  width: 99%;
}

.students-header {
  background-color: #004568;
  color: white;
  font-family: 'Acme';
  font-size: 32px;
}

.register {
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.register-student:hover {
  cursor: pointer; 
}

.student {
  height: 50px;
  background-color: #004568;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.student-container {
  display: grid;
  grid-template-columns: 1fr;
}

.student-rows {
  color: white;
  font-family: 'Acme';
  font-size: 28px;
  height: 32px;
  text-align: center;
}

.student-rows:nth-child(even){
  background-color: #f4b496;
}

.student-rows:nth-child(odd){
  background-color: #7cc164;
}