.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 600px;
  width: 100%;
}

body {

}

.logo {
  text-align: center;
}

.logo img {
  height: 250px;
  width: 250px;
}

.register {
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.register-student:hover {
  cursor: pointer; 
}

.student {
  height: 50px;
  background-color: #004568;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.student-container {
  display: grid;
  grid-template-columns: 1fr;
}