.logo img {
  height: 250px;
  width: 250px;
}

.team {
  background-color: black;
  border-radius: 50%;
  font-family: 'Chewy';
  height: 200px;
  margin: 0 auto;
  position: static;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.team-show-container {
  text-align: center;
  height: 200px;
  width: 100%; 
}

.teams-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 100px;
  height: 500px;
}

.team-info {
  border-color: #004568;
  border-radius: 10%;
  border-style: solid;
  border-width: 3px;
  font-family: 'Chewy';
  font-size: 26px;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.team-info h2 {
  color: #004568;
  font-size: 28px;
  padding-top: 10px;
}

.team-name {
  font-size: 42px;
  padding-top: 35%;
  text-decoration: none;
}

.team a {
  text-decoration: none;
}

.team:hover {
  border-style: solid;
  border-width: 3px;
  height: 172px;
  margin-top: 10px;
  transition: 0.3s;
  width: 172px;
}